ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
PenaltyReturnTypeOnItsOwnLine: 0
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AccessModifierOffset: -8
IndentCaseLabels: true
RemoveBracesLLVM: true
AlignAfterOpenBracket: DontAlign
SortIncludes: CaseSensitive
ForEachMacros: [TINY_MAP_FOREACH]
